Repair for: <%= link_to @repair.computer.idtag, admin_computer_path(@repair.computer) %><br/>
Opened on: <%= @repair.startdate %> <br/>

Activity
<table>
	<tr>
		<th>Date</th>
		<th>Message</th>
		<th>Description</th>
	</tr>
	<% @repair.activities.each do |activity| %>
	<tr>
		<td><%= activity.date %></td>
		<td><%= activity.message %></td>
		<td><%= activity.desc %></td>
	</tr>
	<% end %>
</table><br/>

<%= form_for [:admin, @repair] do |f| %>
	<%= label_tag :desc, "Update:" %>
	<%= text_area_tag :desc %>
	<%= label_tag :close, "Close?" %>
	<%= check_box_tag :close %>
	<%= f.submit %>
<% end %>