<div class="row">
	<div class="span4"><h2><%= !@closed ? "Open" : "Closed" %> Repair Orders </h2></div> 
	<div class="span2">
		<%= link_to admin_repair_orders_path() + (@closed ? "" : "?closed=true") do %>
			<button class="btn btn-<%=@closed ? "primary" : "warning"%>">
				View <%= (@closed ? "Open" : "Closed") %>
			</button>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<%= render "list", :repairs => @repairs%>
	</div>
</div>