Repair for: <%= link_to @repair.computer.idtag, admin_computer_path(@repair.computer) %><br/>
Opened on: <%= @repair.startdate %> <br/>

Activity
<table>
	<tr>
		<th>Date</th>
		<th>Message</th>
		<th>Description</th>
	</tr>
	<% @repair.activities.each do |activity| %>
	<tr>
		<td><%= activity.date %></td>
		<td><%= activity.message %></td>
		<td><%= activity.desc %></td>
	</tr>
	<% end %>
</table><br/>

Bills
<table>
	<tr>
		<th>Amount</th>
		<th>Labor?</th>
		<th>Paid?</th>
	</tr>
	<% @repair.bills.each do |bill| %>
	<tr>
		<td><%= bill.amount %></td>
		<td><%= bill.labor ? "Yes" : "No" %></td>
		<td class="<%= bill.paid ? "good" : "bad" %>"><%= bill.paid ? "Yes" : "No" %></td>
	</tr>
	<% end %>
</table>
<% if @repair.enddate.nil? %>
	<%= link_to "Edit", edit_admin_repair_order_path(@repair) %>
	<%= link_to "Add Bill", new_admin_bill_path() + "/?repair_id=#{@repair.id}"%>
<% end %>