<%= form_for [:admin, @ownership] do |f| %>
	<%= render 'shared/error_messages', :errors => @ownership.errors %>
	<div class="control-group">
		<%= f.label :student_idnum, "Student ID" %>
		<%= f.text_field :student_idnum %>
		<%= f.label :computer_tag, "Computer ID" %>
		<%= f.text_field :computer_tag %>
		<button class="btn btn-primary">Create Ownership</button>
	</div>
<% end %>