<div class="row">
	<div class="span4"><h2><%= !@closed ? "Unpaid" : "Paid" %> Bills </h2></div> 
	<div class="span2">
		<%= link_to admin_bills_path() + (@closed ? "" : "?closed=true") do %>
			<button class="btn btn-<%=@closed ? "primary" : "warning"%>">
				View <%= (@closed ? "Unpaid" : "Paid") %>
			</button>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<%= render "show", :bills => @bills%>
	</div>
</div>