<%= @student.nicename %> <%= @student.studentid %> <br/>

<div class="row">
	<div class="span6">
		<%= render "admin/ownerships/list", :ownerships => @student.computer_ownerships %>
		<%= link_to "Add Computer to Account", new_admin_computer_ownership_path() + "/?student_id=#{@student.id}"%>
	</div>

	<div class="span6">
		<%= render "admin/bills/show", :bills => @student.bills %>
	</div>

</div>