<div class="row">
	<div class="span6 offset3">
		<h2> Computer Reports</h2> <% unless @location.nil? then %> <h4>for Location: <%= link_to @location.name, [:admin, @location] %></h4><% end %>
		<ul>
			<li><%= link_to "All Computers (CSV)", csv_path(location_tack(reports_all_admin_computers_path(),@location)) %></li>
			<li><%= link_to "Bad Computers", location_tack(reports_bad_admin_computers_path(),@location) %></li>
			<li><%= link_to "Good Computers", location_tack(reports_good_admin_computers_path(),@location) %></li>
			<li><%= link_to "Assigned Computers", location_tack(reports_assigned_admin_computers_path(),@location) %></li>
			<li><%= link_to "Unassigned (Checkout) Computers", location_tack(reports_checkout_admin_computers_path(),@location) %></li>
			<li><%= link_to "Search by Parts", location_tack(reports_parts_admin_computers_path(),@location) %></li>
		</ul>
	</div>
</div>