<div class="row">
	<div class="span6 offset3">
		<%= form_for [:admin, @user] do |f| %>
			<%= render 'shared/error_messages', :errors => @user.errors %>
			<%= f.label :fullname, "Full Name"%>
			<%= f.text_field :fullname %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Change password", class: "btn btn-danger" %>
		<% end %>
	</div>
</div>