<div class="row">
	<h3>Tag: <%= @computer.idtag %> Serial: <%= @computer.serial %></h3>
</div>
<div class="row">
	<div class="span4">
		<%= render "admin/ownerships/list", :ownerships => @computer.computer_ownerships %>
	</div>

	<div class="span">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% @computer.computer_parts.each do |part| %>
				<tr>
					<td><%= part.name %></td>
					<td><span class="label label-<%= part.status ? "success" : "warning" %>"><%= part.status ? "Good" : "Bad" %></span> </td>
					<td><%= part.description %></td>
				</tr>
			<% end %>
			</tbody>
			<caption>Parts</caption>
		</table>
		<%= link_to edit_admin_computer_path(@computer) do %>
			<button class="btn btn-primary">Edit Computer</button>
		<% end %>
	</div>

	<div class="span4">
		<%= render "admin/repairs/list", :repairs => @computer.repair_orders %>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#datepicker").datepicker({dateFormat:"yy-mm-dd"})
			})
		</script>
		<%= form_for [:admin, @repair] do |f| %>
			<%= f.hidden_field :computer_id %>
			<%= text_area_tag :desc, "", {:placeholder => "Description"} %>
			<button class="btn btn-primary">New Repair Order</button>
		<% end %>
	</div>
</div>
