Tag: <%= @computer.idtag %>
Serial: <%= @computer.serial %>
<%= link_to "Edit Computer", edit_admin_computer_path(@computer) %>
<div class="row">
	<div class="span4">
		<%= render "admin/ownerships/list", :ownerships => @computer.computer_ownerships %>
	</div>

	<div class="span">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% @computer.computer_parts.each do |part| %>
				<tr>
					<td><%= part.name %></td>
					<td><span class="label label-<%= part.status ? "success" : "warning" %>"><%= part.status ? "Good" : "Bad" %></span> </td>
					<td><%= part.description %></td>
				</tr>
			<% end %>
			</tbody>
			<caption>Parts</caption>
		</table>
	</div>

	<div class="span4">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Started</th>
					<th>Computer</th>
					<th>Repair Description</th>
					<th>Ended</th>
				</tr>
			</thead>
			<tbody>
		<% @computer.repair_orders.each do |repair| %>
			<tr>
				<td><%= link_to repair.startdate.to_s, admin_repair_order_path(repair) %></td>
				<td><%= link_to repair.computer.idtag, admin_computer_path(repair.computer) %></td>
				<td><%= repair.activities.first.desc %></td>
				<td class="<%= repair.enddate.nil? ? "bad" : "" %>"> <%= repair.enddate %></td>
			</tr>
		<% end %>
			</tbody>
			<caption>Repair Orders</caption>
		</table>
		<%= link_to new_admin_repair_order_path() + "/?computer_id=#{@computer.id}" do %>
			<button class="btn btn-primary">New Repair Order</button>
		<% end %>
	</div>
</div>
