Tag: <%= @computer.idtag %>
Serial: <%= @computer.serial %>
<%= link_to "Edit Computer", edit_admin_computer_path(@computer) %>
Ownerships:
<table>
	<tr>
		<th>Owner</th>
		<th>Start</th>
		<th>End</th>
		<th>Current</th>
	</tr>
<% @computer.computer_ownerships.each do |ownership| %>
	<tr>
		<td><%= ownership.student.firstname %> <%= ownership.student.lastname %></td>
		<td><%= ownership.startdate %></td>
		<td><%= ownership.enddate %></td>
		<td><%= ownership.current?%></td>
	</tr>
<% end %>
</table>

Parts:
<table>
	<tr>
		<th>Name</th>
		<th>Status</th>
		<th>Description</th>
	</tr>
<% @computer.computer_parts.each do |part| %>
	<tr>
		<td><%= part.name %></td>
		<td class="<%= part.status ? "good" : "bad" %>"><%= part.status ? "Good" : "Bad" %> </td>
		<td><%= part.description %></td>
	</tr>
<% end %>
</table>