<div class="row">
	<h3>Tag: <%= @computer.idtag %> Serial: <%= @computer.serial %></h3>
</div>
<div class="row">
	<div class="span4">
		<%= render "admin/ownerships/list", :ownerships => @computer.computer_ownerships %>
	</div>

	<div class="span4">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			<% @computer.computer_parts.each do |part| %>
				<tr>
					<td><%= part.name %></td>
					<td><span class="label label-<%= part.status ? "success" : "warning" %>"><%= part.status ? "Good" : "Bad" %></span> </td>
					<td><%= part.description %></td>
				</tr>
			<% end %>
			</tbody>
			<caption>Parts</caption>
		</table>
		<% unless @computer.problem.nil? or @computer.problem.empty? %>
			<p>"Other" Problems: <%= @computer.problem %></p>
		<% end %>
		<h4>Location: <%= @computer.location.name %> </h4><br/>
		<%= link_to edit_admin_computer_path(@computer) do %>
			<button class="btn btn-primary">Edit Computer</button>
		<% end %>
	</div>

	<div class="span4">
		<%= render "admin/repairs/list", :repairs => @computer.repair_orders %>
		<%= render "admin/repairs/form", :repair => @repair %>
	</div>
</div>
